header {
    color: whitesmoke;
    margin-left: 220px;
}

body {
    background-image: url("https://www.shell.com/energy-and-innovation/the-energy-future/scenarios/shell-scenario-sky/_jcr_content/pagePromo/image.img.960.jpeg/1548184031017/clear-blue-sky.jpeg");
    margin-left: 100;
}

canvas {
    margin-left: 200px;
}

aside {
    padding-left: 5px;
    margin-left: 5px;
    float: right;
}